.contact {
  position: relative;
  margin-bottom: 128px;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('../../img/back-contact-img.png');
    background-repeat: no-repeat;
    height: 2236px;
    width: 915px;
    z-index: -1;
  }

}

.contact-content {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
  padding: 40px;
  background-color: var(--bright-yellow);
  border-radius: var(--bor-rad);
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__left {
    display: flex;
    flex-direction: column
  }
  &__title {
    width: 526px;
    @extend %mul-600;
    font-size: 48px;
    line-height: 56px;
  }
  &__text {
    margin-top: auto;
    * {
      margin-top: auto;
      @extend %mul-800;
      font-size: 32px;
      line-height: 42px;
    }
  }
  &__number {
    display: inline-block;
    margin-top: 24px;
    @extend %mul-600;
  }
  &__form {

  }
}
.contact-form {
  max-width: 606px;
  width: 100%;
  padding: 40px;
  background-color:var(--white);
  border-radius: var(--bor-rad);
  &__label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 16px;
    color: var(--black);
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
  &__input {
    margin-top: 12px;
    display: inline-block;
  }
  &__textarea {
    resize: none;
    min-height: 124px;
  }
  &__custom {
    display: block;
    margin-bottom: 24px;
  }
  &__btn {
    width: 100%;
  }
}

.custom-checkbox {
  @include custom-checkbox;

  &__field {
    &:checked+.custom-checkbox__content::after  {
      background-color: var(--bright-yellow);
    }
  }
  &__content {
    padding-left: 34px;
    &::before {
      top: 4px;
      border-color: var(--light-gray);
      border-radius: 6px;
      width: 20px;
      height: 20px;
    }
    &::after {
      background-image: url('../../img/chek.png');
      background-size: 12px 8px;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      top: 4px;
      border-radius: 6px;
    }
  }
}
