.entrepreneurs {
  position: relative;
  padding-top: 20px;

  &::before {
    position: absolute;
    content: '';
    top: 25%;
    left: 28%;
    background-repeat: no-repeat;
    background-image: url('../../img/img-1.png');
    width: 825px;
    height: 1640px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: -5%;
    left: 33%;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url('../../img/img-2.png');
    width: 825px;
    height: 1127px;

  }

  &__participation {
    position: relative;
    margin-bottom: 128px;

    &::before {
      position: absolute;
      content: "";
      top: 37px;
      right: -120px;
      background-image: url('../img/back-img-2.png');
      z-index: -1;
      width: 346px;
      transform: rotate(-83deg);
      height: 355px;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 37%;
      left: -120px;
      background-image: url('../img/back-img-2.png');
      z-index: -1;
      width: 346px;
      transform: rotate(-83deg);
      height: 355px;
    }
  }

  &__experience {
    margin-bottom: 160px;
  }

  &__dogfriendly-guides {
    margin-bottom: 128px;
  }

  &__advise-business {
    margin-bottom: 128px;
  }
}

.participation {
  &__title {
    max-width: 742px;
    margin-bottom: 56px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px 44px;
    margin-bottom: 36px;
  }

  &__item {
    grid-column: 6 span;
  }

  &__box-link {
    display: flex;
    justify-content: center;
  }

  &__link {}
}

.participation-item {
  height: 635px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: var(--bor-rad);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    max-width: 477px;
    min-height: 240px;
    margin-top: auto;
    padding: 30px 40px;
    border-radius: var(--bor-rad);
    background: rgba(67, 67, 67, 0.1);
    box-shadow: 0px 4px 53.1px 0px rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(15px);
    color: var(--white);
  }

  &__title {
    margin-bottom: 24px;
    @extend %mul-600;
    font-size: 32px;
    line-height: 36px;
  }

  &__text {
    max-width: 320px;
    @extend %nato-500;
    font-size: 20px;
    line-height: 32px;

    &--nowrap {
      max-width: 100%;
    }
  }
}

.experience-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    width: 485px;
  }

  &__qoute {
    width: 360px;
    height: 67px;
    margin-bottom: 44px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-title {
    margin-bottom: 36px;
    @extend %mul-600;
    font-size: 32px;
    line-height: 42px;
    color: var(--black);
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
  }

  &__image {
    position: relative;
    width: 636px;
    height: 448px;
  }

  &__image-box {
    position: absolute;
    width: 636px;
    height: 448px;
    top: 0;
    left: -20px;
    transform: rotate(-8deg);
    z-index: -1;
    background-color: var(--white);
    border-radius: var(--bor-rad);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:var(--bor-rad);
    overflow: hidden
  }
}

.experience {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
    position: relative;
    padding-bottom: 20px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/duble-line-title-2.png");
      width: 520px;
      height: 20px;
      background-repeat: no-repeat;
      bottom: -4px;
      left: 0;
    }
  }

}

.dogfriendly-guides {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -46%;
    left: -144px;
    background-image: url('../img/back-img-2.png');
    z-index: -1;
    width: 346px;
    transform: rotate(-83deg);
    height: 355px;
  }

  &__title {
    margin-bottom: 56px;
  }
}

.guides-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;

  &__item {
    position: relative;
    grid-column: 4 span;
    max-height: 466px;
    height: 100%;
    padding: 24px;
    border-radius: var(--bor-rad);
    background-color: var(--white);
    overflow: hidden;
  }

  &__image {
    max-width: 368px;
    max-height: 282px;
    margin-bottom: 20px;
    border-radius: var(--bor-rad);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    display: block;
    margin-bottom: 20px;
    color: var(--text-color);
    @extend %mul-600;
    font-size: 24px;
    line-height: 32px;
  }

  &__link {
    width: 100%;
  }
}

.advise-business {
  &__top {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
  }

  &__title {
    position: relative;
    max-width: 317px;
    margin-right: 220px;
    padding-bottom: 10px;

    &::before {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 0;
      width: 339px;
      height: 15px;
      background-image: url('../../img/buissness-title.png');
    }
  }

  &__text {
    max-width: 360px;
    font-size: 20px;
    line-height: 32px;
  }
}

.advise-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;

  &::before {
    position: absolute;
    content: "";
    top: -118%;
    right: -120px;
    background-image: url('../img/back-img-2.png');
    z-index: -1;
    width: 346px;
    transform: rotate(-83deg);
    height: 355px;
  }

  &__item {
    position: relative;
    grid-column: 4 span;
    height: 322px;
    padding: 40px;
    border-radius: var(--bor-rad);
    overflow: hidden;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      bottom: 0;
      right: 0;
      width: 398px;
      height: 183px;
      z-index: -1;
    }

    &--black {
      background-color: var(--dark);

      &::before {
        background-image: url("../img/dog-1-elem.png");
      }

      .advise-list__text {
        color: var(--white);
      }
    }

    &--white {
      &::before {
        background-image: url("../img/dog-2-elem.png");
      }

      background-color: var(--white);
    }

    &--yellow {
      &::before {
        background-image: url("../img/dog-3-elem.png");
      }

      background-color: var(--bright-yellow);
    }
  }

  &__text {
    display: block;
    max-width: 250px;
    @extend %mul-600;
    font-size: 32px;
    line-height: 42px;
    color: var(--dark);
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.entrepreneurs-contact {
  &::before {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -13%;
    left: 22%;
    background-image: url('../img/back-img-2.png');
    z-index: -1;
    width: 346px;
    transform: rotate(-83deg);
    height: 355px;
  }

  .contact-content {
    background-color: var(--orange-color);
  }

  .contact-content__title,
  .contact-content__text,
  .contact-content__number {
    color: var(--white);
  }
}
