.footer {
  padding: 86px 0;
  background-color: var(--dark);
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;

  &__inner {
    display: flex;
    justify-content: space-between;

  }

  &__lefr-col {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: auto;
  }

  &__conf {
    color: var(--dark-gray);
    font-size: 20px;
    line-height: 32px;
  }

  &__center-col {}

  &__right-col {
    display: flex;
    flex-direction: column;
  }

  &__tel-num {
    margin-bottom: 20px;
  }

  &__email {}

  &__link {
    @extend %nato-500;
    color: var(--white);
    font-size: 24px;
    line-height: 36px;
  }

  &__social {
    margin-top: auto;
  }
}


.footer-nav {

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 24px;
    line-height: 36px;
    color: var(--white);
  }
}

.footer-social {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: block;
    width: 52px;
    height: 52px;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 16px;

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: var(--gray);
    }
  }

}
