.free-cours {
  margin-bottom: 128px;
  &__items {
  }
  &__item {

  }
}
.cours-article {
  border-radius: var(--bor-rad);
  overflow: hidden;
  &__inner {
    display: flex;
  }
  &__image {
    width: 50%;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__content--orange {
    background-color:var(--orange-color);
    h2, p, span {
      color: var(--white);
    }
  }
  &__content--yellow {
    background-color:var(--bright-yellow);
    h2, p, span {
      color:var(--black);
    }
  }
  &__box-text {
    max-width: 585px;
    width: 100%;
  }
  &__title {
    position: relative;
    @extend %mul-600;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 48px;
  }
  &__title--del {
    &::before {
      position: absolute;
      content: '';
      top: -110px;
      left: 0;
      background-image: url('../../img/free-title.svg');
      width: 250px;
      height: 90px;
      background-repeat: no-repeat;
    }
    &::after {
      position: absolute;
      content: '';
      top: 5px;
      left: -15px;
      background-image: url('../../img/del-title.svg');
      width: 230px;
      height: 50px;
      background-repeat: no-repeat;
    }
  }
  &__title--under {

  }
  &__text {
    display: block;
    margin-bottom: 48px;
    @extend %mul-600;
    font-size: 40px;
    line-height: 48px;
  }
  &__link {
    @extend %nato-800;
  }
}

