.header {
  padding: 40px 48px;

  &__inner {
    display: flex;
  }

}
.nav {
  margin-left: auto;
  &__list {
    display: flex;
    align-items: center;
    padding: 19px 44px;
    background-color: var(--white);
    border-radius: var(--bor-rad);

  }
  &__item {
    &:not(:last-child) {
      margin-right: 33px;
    }
  }
  &__link {
    color: var(--menu-color);
  }
}

.dropdown-menu {
  position: relative;
  padding-right: 22px;
  cursor: pointer;
  
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 12px;
    height: 6px;
    background-image: url('../../img/menu-arr.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

