.news-section {
  .contact {
    &::before {
      top: -118%;
      left: 20%;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -427px;
      left: 210px;
      background-image: url('../img/back-img-2.png');
      z-index: -1;
      width: 346px;
      height: 355px;
    }
  }
}


.section-news {

  position: relative;
  margin-bottom: 88px;

  &::before {
    position: absolute;
    content: '';
    top: -148px;
    left: 29%;
    ;
    background-repeat: no-repeat;
    background-image: url('../../img/news-back-img.png');
    width: 913px;
    height: 2560px;
    z-index: -1;
  }

  &__title {
    position: relative;
    margin-bottom: 38px;
    padding-bottom: 12px;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 200px;
      height: 11px;
      background-image: url("../img/title-news.svg");
      background-repeat: no-repeat;
    }
  }

  &__inner {}
}

.news-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  row-gap: 44px;
  margin-bottom: 64px;

  &::before {
    position: absolute;
    content: "";
    top: 400px;
    right: 100px;
    background-image: url("../img/back-img-2.png");
    width: 346px;
    height: 355px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 10%;
    right: -11%;
    background-image: url('../img/back-img-2.png');
    width: 346px;
    height: 355px;
    z-index: -1;
    transform: rotate(-75deg)
  }

  .post {
    grid-column: 4 span;
  }
}

.blog-info {
  grid-column: 5/13;
  grid-row: 3/4;

  position: relative;
  background-color: #bc781e;
  padding: 64px 50px;
  display: flex;
  border-radius: var(--bor-rad);
  overflow: hidden;
  background-image: url("../img/blog-info-img.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  // &:before {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   left: 0;
  // }

  &__content {
    color: var(--white);
    z-index: 2;
  }

  &__title {
    width: 370px;
    font-size: 40px;
    @extend %mul-600;
    line-height: 48px;
    margin-bottom: 36px;
  }

  &__text {
    width: 295px;
    margin-bottom: 60px;
    @extend %nato-500;
    line-height: 26px;
  }

  &__link {
    border: none;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 386px;
    height: 480px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__list-link {
    min-width: 52px;
    height: 52px;
    padding: 12px 14px;
    @extend %mul-600;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
    border-radius: 20px;
  }

  &__list-link--active {
    background-color: var(--white);
  }
}
