.will-suit {
  position: relative;
  margin-bottom: 128px;
  &::before {
    position: absolute;
    content:'';
    top: -270px;
    right: 150px;
    background-image: url('../../img/back-img-2.png');
    width: 346px;
    height: 355px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content:'';
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    background-image: url('../../img/back-img.png');
    width: 572px;
    height: 1261px;
    z-index: -1;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__item {

  }
}

.suit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 416px;
  height: 458px;
  padding: 40px;
  border-radius: var(--bor-rad);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: auto;
  &--dark {
    background-color: var(--dark);
    color: var(--white);
    background-image: url('../../img/dog-1.png');
  }
  &--white {
    background-color: var(--white);
    color: var(--dark);
    background-image: url('../../img/dog-2.png');
  }
  &--yellow {
    background-color: var(--bright-yellow);
    color: var(--dark);
    background-image: url('../../img/dog-3.png');
  }
  &__title {
    @extend %mul-600;
    font-size: 40px;
    line-height: 48px; /* 120% */
    margin-bottom: 24px;
  }
  &__text {
    font-size: 20px;
    line-height: 32px; /* 160% */
  }
  &__btn {
    margin-top: auto;
    border:none;
  }
  &__list {
    padding-left: 30px;
    width: 305px;
  }
  &__item {
    position: relative;
    @extend %nato-500;
    font-size: 20px;
    line-height: 32px;
    &::before {
      position: absolute;
      content: '';
      top: 11px;
      left: -20px;
      width: 5px;
      height: 5px;
      background-color:var(--dark);
      border-radius: 100%;
    }
  }
}

